<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <body>

<!-- ###TEMPLATE_LIST### begin -->
<!-- ###SEARCHFORM### begin -->
            <div class="searchbox searchbox-###VIEW###-###MODE###">
              <form action="###ACTION###" method="post" >
                <input                type="hidden" name="no_cache"                   value="1" />
                <input                type="hidden" name="###POINTER###"              value="" />
                <input class="sword"  type="text"   name="tx_browser_pi1[sword]"  value="###SWORD###" />
                <input class="button" type="submit"                                   value="###BUTTON###" />
              </form>
            </div><!-- ###SEARCHFORM### end -->
<!-- ###AZSELECTOR### begin -->
            <div class="azSelector azSelector-###UL_VIEW###-###UL_MODE###">
              <ul class="azSelector azSelector-###UL_VIEW###-###UL_MODE###"><!-- ###AZSELECTORTABS### begin -->
                <li###LI_CLASS###>###TAB###</li><!-- ###AZSELECTORTABS### end -->
              </ul>
            </div><!-- ###AZSELECTOR### end -->
<!-- ###PAGEBROWSER### begin -->
            <div class="browsebox browsebox-###VIEW###-###MODE###">
              ###RESULT_AND_ITEMS###
            </div><!-- ###PAGEBROWSER### end -->
<!-- ###MODESELECTOR### begin -->
            <div class="modeSelector modeSelector-###VIEW###-###MODE###">
              <ul class="modeSelector modeSelector-###VIEW###-###MODE###"><!-- ###MODESELECTORTABS### begin -->
                <li###CLASS###>###TABS###</li><!-- ###MODESELECTORTABS### end -->
              </ul>
            </div><!-- ###MODESELECTOR### end -->
<!-- ###LISTVIEW### begin -->
            <div class="###VIEW###view ###VIEW###view-###MODE###">
              <ul><!-- ###LISTBODY### begin --><!-- ###LISTBODYITEM### begin -->
                  <li>###ITEM###</li><!-- ###LISTBODYITEM### end -->
              <!-- ###LISTBODY### end --></ul>
            </div><!-- ###LISTVIEW### end -->
<!-- ###MODESELECTOR### begin -->
            <div class="modeSelector modeSelector-###VIEW###-###MODE###">
              <ul class="modeSelector modeSelector-###VIEW###-###MODE###"><!-- ###MODESELECTORTABS### begin -->
                <li###CLASS###>###TABS###</li><!-- ###MODESELECTORTABS### end -->
              </ul>
            </div><!-- ###MODESELECTOR### end -->
<!-- ###PAGEBROWSER### begin -->
            <div class="browsebox browsebox-###VIEW###-###MODE###">
              ###RESULT_AND_ITEMS###
            </div><!-- ###PAGEBROWSER### end -->
<!-- ###AZSELECTOR### begin -->
            <div class="azSelector azSelector-###UL_VIEW###-###UL_MODE###">
              <ul class="azSelector azSelector-###UL_VIEW###-###UL_MODE###"><!-- ###AZSELECTORTABS### begin -->
                <li###LI_CLASS###>###TAB###</li><!-- ###AZSELECTORTABS### end -->
              </ul>
            </div><!-- ###AZSELECTOR### end -->
<!-- ###SEARCHFORM### begin -->
            <div class="searchbox searchbox-###VIEW###-###MODE###">
              <form action="###ACTION###" method="post" >
                <input                type="hidden" name="no_cache"                   value="1" />
                <input                type="hidden" name="###POINTER###"              value="" />
                <input class="sword"  type="text"   name="tx_browser_pi1[sword]"  value="###SWORD###" />
                <input class="button" type="submit"                                   value="###BUTTON###" />
              </form>
            </div><!-- ###SEARCHFORM### end -->
<!-- ###TEMPLATE_LIST### end -->





<!-- ###TEMPLATE_SINGLE### begin -->
<!-- ###MODESELECTOR### begin -->
        <div class="modeSelector modeSelector-###VIEW###-###MODE###">
          <ul class="modeSelector modeSelector-###VIEW###-###MODE###"><!-- ###MODESELECTORTABS### begin -->
            <li###CLASS###>###TABS###</li><!-- ###MODESELECTORTABS### end -->
          </ul>
        </div><!-- ###MODESELECTOR### end --><!-- ###SINGLEVIEW### begin -->
        <div class="###VIEW###view ###VIEW###view-###MODE###">
          <h1>###TITLE###</h1><!-- ###BACKBUTTON### begin -->
          <p class="backbutton">
            ###BUTTON###
          </p><!-- ###BACKBUTTON### end -->
          <table border="0" cellpadding="0" cellspacing="0"###SUMMARY###>
            ###CAPTION###<!-- ###SINGLEBODY### begin -->
            <tbody><!-- ###SINGLEBODYROW### begin -->
              <tr###CLASS###>
                <th>###FIELD###</th>
                <td>###VALUE###</td>
              </tr><!-- ###SINGLEBODYROW### end -->
            </tbody><!-- ###SINGLEBODY### end -->
          </table><!-- ###BACKBUTTON### begin -->
          <p class="backbutton">
            ###BUTTON###
          </p><!-- ###BACKBUTTON### end -->
        </div><!-- ###SINGLEVIEW### end -->
<!-- ###TEMPLATE_SINGLE### end -->






<!-- ###TEMPLATE_SINGLE_IMGTXT### begin -->
<!-- ###MODESELECTOR### begin -->
        <div class="modeSelector modeSelector-###VIEW###-###MODE###">
          <ul class="modeSelector modeSelector-###VIEW###-###MODE###"><!-- ###MODESELECTORTABS### begin -->
            <li###CLASS###>###TABS###</li><!-- ###MODESELECTORTABS### end -->
          </ul>
        </div><!-- ###MODESELECTOR### end --><!-- ###SINGLEVIEW### begin -->
        <div class="###VIEW###view ###VIEW###view-###MODE###">
          <h1>###TITLE###</h1>
          ###IMAGE###
          <div class="text">###TEXT###</div>
          <table border="0" cellpadding="0" cellspacing="0"###SUMMARY###>
            ###CAPTION###<!-- ###SINGLEBODY### begin -->
            <tbody><!-- ###SINGLEBODYROW### begin -->
              <tr###CLASS###>
                <th>###FIELD###</th>
                <td>###VALUE###</td>
              </tr><!-- ###SINGLEBODYROW### end -->
            </tbody><!-- ###SINGLEBODY### end -->
          </table><!-- ###BACKBUTTON### begin -->
          <p class="backbutton">
            ###BUTTON###
          </p><!-- ###BACKBUTTON### end -->
        </div><!-- ###SINGLEVIEW### end -->
<!-- ###TEMPLATE_SINGLE_IMGTXT### end -->




  </body>
</html>